@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
.video-list {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
@media screen and (min-width: 48rem) {
  .video-list {
    width: 30%;
    justify-content: flex-start;
    margin-left: 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .video-list {
    border-left: 1px solid #E1E1E1;
    margin: 0;
    padding: 1rem;
  }
}