@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.video-list{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    @include tablet{
        width: 30%;
        justify-content: flex-start;
        margin-left: 3rem;
    }
    @include desktop{
        border-left: 1px solid $mercury;
        margin: 0;
        padding: 1rem;
    }
}