@use './variables' as *;
@use './fonts' as *;
@use './mixins' as *;

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Avenir Next";
}
  
body{
    margin: 0;
}

h3{
    font-size: 0.75rem;
    color: $silver;
}

p{
    margin: 0;
}

.margin{
    padding: 0rem 1rem 1rem 1rem;
    margin: 0 auto;
    @include tablet{
        padding: 0 2rem;
        margin: 0 auto;
    }
    @include desktop{
        padding: 0rem 3rem;
        margin: 0 auto;
    }
}

.video-margin{
    padding: 0rem 1rem;
    margin: 0 auto;
    @include tablet{
        padding: 0 3rem 1rem 3rem;
        margin: 0 auto;
    }
    @include desktop{
        padding: 0rem 0rem 1rem 0;
    }
}

.button{
        display: flex;
        background-color: $bf-blue;
        color: $white;
        font-weight: 600;
        width: 17.5rem;
        border-radius: 0.25rem;
        border: none;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        order: 3;
        @include tablet{
            order: 2;
            width: 65%;
        }
    &__icon{
        cursor: pointer;
        display: flex;
    }
    &__text{
        align-self: center;
    }
}

.button-cancel{
    display: flex;
    background-color: $white;
    color: $bf-blue;
    font-weight: 600;
    width: 17.5rem;
    border-radius: 0.25rem;
    border: none;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.upload-btn-wrapper {
  position: relative;
  overflow:hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 25px;
    position:absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
