@use './variables' as *;
@use './fonts' as *;
@use './mixins' as *;

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Avenir Next";
}
  
body{
    margin: 0;
}

h1{

}

h2{

}

h3{
    font-size: 0.75rem;
    color: $silver;
}

p{
    margin: 0;
}

.margin{
    padding: 0rem 1rem 1rem 1rem;
    margin: 0 auto;
    @include tablet{
        padding: 0rem 3rem 1rem 3rem;
        margin: 0 auto;
    }
    @include desktop{
        padding: 1rem 6rem;
        margin: 0 auto;
    }
}

.ellipsis{
    text-overflow: ellipsis;
}

.button{
        display: flex;
        // max-height: 2rem;
        flex-grow: 1;
        background-color: $bf-blue;
        color: $white;
        font-weight: 600;
        width: 17.5rem;
        border-radius: 0.25rem;
        border: none;
        padding: 0.5rem;
        // justify-content: center;
        width: 100%;
        order: 3;
        @include tablet{
            order: 2;
            width: 65%;
        }
    &__icon{
        cursor: pointer;
        display: flex;
    }
    &__upload{
        background-repeat: no-repeat;
        background-position: center left;
    }
    &__upload::-webkit-file-upload-button {
        visibility: hidden;
    }
    &__text{
        align-self: center;
    }
}
