$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 80rem; // 1280px

$bf-black: #323232;
$bf-darkblack: #000000;

$bf-blue: #0095FF;
$bf-darkblue: #0065AD;

$silver: #AFAFAF;
$mercury: #E1E1E1;

$white: #FFFFFF;
$alabaster: #FAFAFA;