@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header{
    display: flex;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 768px;
    }
    @include desktop{
        max-width: 1280px;
    }
    &__logo{
        display: flex;
        max-height: 1.56rem;
        max-width: 7.5rem;
        margin: 1rem;
        width: 90%;
        align-self: center;
    }
        &__order {
            display: flex;
            flex-direction: column;
    
            @include tablet {
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
            }
    }
    &__mobile{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        &--avatar{
            display: flex;
            order: 2;
            border-radius: 50%;
            height: 3.125rem;
            width: 3.125rem;
            margin-left: 1rem;
            background-image: linear-gradient(rgba(225,225,225, 1), rgba(225,225,225, 1));
            @include tablet{
                display: none;
            }
        }
    }
    &__avatar{
        display: none;
        order: 2;
        border-radius: 50%;
        height: 3.125rem;
        width: 3.125rem;
        margin-left: 1rem;
        background-image: linear-gradient(rgba(225,225,225, 1), rgba(225,225,225, 1));
        @include tablet{
            display: flex;
        }
    }
    &__search{
        order: 1;
        display: flex;
        background-image:url("../../assets/images/icons/search.svg");
        background-repeat: no-repeat;
        background-color: $alabaster;
        background-position: 10.5px 10px;
        color: $bf-darkblack;
        // max-height: 2rem;
        padding: 0.75rem 2rem;
        border: 1px solid $silver;
        border-radius: 0.25rem;
        width: 100%;
        @include tablet{
            margin: 1rem 1rem 0 0;
            padding: 0.75rem 3.5rem;
        }
    }
    input[type='file'] {
        color: transparent;
        font-size: 0;
      }
}