@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.video{
    flex-grow: 1;
    position: relative;
    display: flex;
    height: max-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__container{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: $bf-darkblack;
        @include tablet{
            padding: 0 3rem;
        }
    }
    &__player{
        // height: 55.75vw;
        width: 100%;
        @include tablet{
            max-width: 768px;
            // margin: 0 auto;
        }
        @include desktop{
            max-width: 768px;
            // margin: 0 auto;
        }
    }
}