@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.video{
    flex-grow: 1;
    position: relative;
    display: flex;
    height: max-content;
    justify-content: center;
    flex-direction: column;
    &__container{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: $bf-darkblack;
        @include tablet{
            padding: 0 3rem;
        }
    }
    &__player{
        // height: 55.75vw;
        width: 100%;
        object-fit: cover;
        max-height: 400px;
        @include tablet{
            max-width: 768px;
            // margin: 0 auto;
        }
        @include desktop{
            // margin: 0 auto;
        }
    }
    &__body{
        display: flex;
        justify-content: center;
    }
    &__desktop{
        display: flex;
        flex-direction: column;
        @include desktop{
            flex-direction: row;
            max-width: 1100px;
        }
        &--main{
            width: 100%;
            @include desktop{
                width: 70%;
            }
        }
    }
}