@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/globals' as *;

.upload{
    border-top: 1px solid $mercury;
    max-width: 1280px;
}
.upload__container{
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet{
        border-top: 1px solid $mercury;
        // border-bottom: 1px solid $mercury;
    }
    @include desktop{

    }
    &--thumbnail{
        display: flex;
        flex-direction: column;
        width: 100%;
        @include desktop{
            width: 50%;
            margin-right: 2rem;
        }
    }
    &--buttons{
        display: flex;
        width: 100%;
        @include tablet{
            justify-content: flex-end;
            border-top: 1px solid $mercury;
        }
    }
    &--form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
