@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.video-comment{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    &__total{
        font-weight: 600;
        margin: 1rem 0;
    }
    &__container{
        display: flex;
        border-bottom: 1px solid $mercury;
        margin-bottom: 1rem;
        justify-content: center;
        @include desktop{
            border-bottom: 0;
        }
    }
    &__avatar{
        margin: 2rem 1rem 0 0;
        border-radius: 50%;
        height: 3.125rem;
        width: 3.125rem;
        background-image: linear-gradient(rgb(225, 225, 225), rgb(225, 225, 225));
        @include desktop{
            margin-right: 2rem;
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
        width: 100%;
        @include tablet{
            flex-direction: row;
        }
    }
    &__title{
        margin-bottom: 0;
    }
    &__input{
        border: 1px solid #E1E1E1;
        border-radius: 0.25rem;
        background: #FAFAFA;
        margin: 0.5rem 0;
        margin-bottom: 1rem;
        width: 14rem;
        height: 150px;
        padding: 12px 20px;
        resize: none;
        @include tablet{
            height: 50px;
            width: 25rem;
        }
        @include desktop{
            width: 30rem;
        }
    }
    &__input::placeholder{
        color: $bf-darkblack;
    }
    &__submit{
        display: flex;
        background: $bf-blue;
        color: #FFFFFF;
        padding: 0.75rem;
        font-weight: 600;
        border: none;
        border-radius: 0.25rem;
        margin-bottom: 1rem;
        align-items: center;
        @include tablet{
            width: 12rem;
            height: 50px;
            margin-top: 0.5rem;
            margin-left: 1rem;
        }
        @include desktop{
            width: 10rem;
        }
    }
    &__icon{
        height: 1rem;
        margin-right: 3rem;
        @include tablet{
            margin-right: 2rem;
        }
        @include desktop{
            margin-right: 1.5rem;
        }
    }
    
}